.row
  .col-10
    %h3 All Courses
  - if !current_user.admin?
    = render 'layouts/ajax_popup'
    .col-2
      %button.btn.btn-primary.fs-6.fw-bold{"data-bs-target" => "#ajax_popup", "data-bs-toggle" => "modal", :id => "", :onclick => "ajax_get_page('GET', '#{new_course_path}?yeild_only=true', 'ajax_content')"} New Course
%br/
.row
  %ul.list-group
    - @courses.each do |course|
      %li.list-group-item
        #{button_to course.to_s, course_path(course.id), method: :get, :class => "button btn btn nav-link fs-5"}
