<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", [@course, post] %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_course_post_path(@course) %>
