<div class="modal fade" id="ajax_popup" tabindex="-1" aria-labelledby="ajax_popup_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="" id="ajax_content">
        </div>
    </div>
</div>